<div class="homeDiv">
    <h1 class="head">About Mens Tops</h1>
    <p class="para">Mens Tops is an awesome online-only store that sells the highest quality tops. We sell 3 tops that
        can
        certainly fit your needs.
        This includes an All Season Top, a Summer Short Sleeve and a Winter Shirt. Our tops are all 100% made in the
        U.S.A.
        from sctratch.
        We use cutting edge warming and cooling cotton and thermal down material in our products.
        Mens Tops is family owned and operated. 10% of all sales go to Christian Missions Trips to share the gospel
        around
        the United States and the world.
    </p>
    <img class="pic" src="https://s3-media1.fl.yelpcdn.com/bphoto/N6HRMWWvwoP5qZ3DT3GCUg/o.jpg">
</div>