<div class="homeLogo">
    <h1 class="homeHead">Mens Tops</h1>

    <img class="logo"
        src="http://s3.amazonaws.com/skillshare/uploads/parentClasses/b6e324702f2db4f014a6bc0770f1acee/c717dc21">
</div>
<p class="new">Newly Featured:</p>
<p class="allS">All Season Top</p>
<img class="p1"
    src="https://cdna.lystit.com/photos/0a09-2014/04/19/sunspel-white-long-sleeve-crew-neck-t-shirt-product-1-19365541-3-335841352-normal.jpeg">
<img class="p2" src="https://www.fjackets.com/au/product_images/o/979/plain_navy_shirt__44937_zoom.jpg">
<img class="p3"
    src="http://rlv.zcache.com/plain_red_mens_basic_long_sleeve_t_shirt-r5cdd624083594acfaabdafea50214179_jy5y9_512.jpg">